<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jetpack.home">

    <application>
        <activity android:name=".life.TransparentActivity"
            android:theme="@style/transparentTheme"/>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".life.LifecycleActivity"
            />
    </application>

</manifest>